body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.shoeAttr {
    background-color: tomato;
    width: 250px;
    margin: 3px;
}

.items {
    background-color: rgb(58, 45, 45);
    color: whitesmoke;
    padding: 10px;
    margin: 3px;
}